<form role="form" ng-submit="saveOrder()">
    <div class="form-group">
        <label for="inputOrder">Order:</label>
        <textarea class="form-control" id="inputOrder" placeholder="Enter order" ng-model="order"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
